*{
    margin: 0%;
    padding:0%;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}.container1{
    width: 100%;
    height: 110vh;
    background-color: cadetblue;
    background-position: center; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    }
    
.form-box{
    width: 90%;
    max-width: 450px;
    text-align: center;
    background: #fff;
    padding: 50px 60px 70px ;
    
}.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c1bb3;
    text-decoration: underline;
    /* position:relative; */
}
.input-field{
    background: #eaeaea;
    margin: 15px 0 ;
    border-radius: 3px;
    display: flex;
    align-items: center;
    border: 2px solid;
    overflow:hidden
}input{
    width: 100%;
    background: transparent;
    outline: 0;
    border: 0;
    padding: 18px 15px;
}.input-field i {
  margin-left: 15px;
  color:#999;
}.but-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
   
}button{
   flex-basis: 48%;
   background: #3c00a0;
   color: #fff;
   height: 45px;
   width: 100px;
   border-radius: 20px;
   cursor: pointer;
   /* transition: background 2s; */
   margin: 15px 10px 5px;
}.message-field{
    color: red;
}#for-pass{
    display: flex;
    color: black;
}

/* footer{
    padding: 40px;
    background: #0082e6;
    position: sticky;
    top: 100%;
}.footerContainer{
    text-align: center;
   
}.footerContainer a{
    padding: 0 25px;
    margin: 0 10px;
    font-size: 25px;
   border: 1px solid #ccc;
   color: #fff;
   border-radius: 50%;
}.footerBottom{
    text-align: center;
    padding-top: 25px;  
}
@media (max-width:650px){
    .footerContainer a{
        padding: 0 5px;
        margin: 0 7px;
    }
} */
